

<!--  <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      #map_canvas { height: 100%; background-color: #fcc }
    </style>
-->

<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(33.77, -84.36);
    var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

      //put location markers on map
      <% @locations.each do |location| %>
      var request = new google.maps.LatLng(<%= location.lat %>, <%= location.lng %>);
      var marker = new google.maps.Marker({
      position: request, 
      map: map, 
      title: "Item Requested:<%= location.item %> | Address: <%= location.street_adress %>"
      
      });     
      <% end %>
  }



</script>
<body onload="initialize()">
  <div id="map_canvas" style="width:500px; height:500px"></div>








